@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.monaco-editor {
  @apply rounded-lg overflow-hidden border border-gray-200;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes countdown {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(2.5);
    opacity: 0.25;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}